@charset "UTF-8";

@import 'vendor/normalize';

#try-now {
    color: white;
    padding-top: 50px;
    padding-bottom: 50px;
}

#footer {
    margin-bottom: 0;
    color: white;
    padding-top: 25px;
    padding-bottom: 25px;
}